extends layout 

block content
  .container
    .nav.nav-pills.nav-fill 
          li.nav-item 
            a(href="workouts").nav-link Workouts
          li.nav-item
          li.nav-item
          li.nav-item 
            a(href="login").nav-link.active Login         
          li.nav-item 
            a(href="/").nav-link Register

  .pageLayout
    .card
        .form-group.col-lg-12    
          form(role='form', action="/api/login",method="post", style='max-width: 300px;')
            .col-lg-12   
              p.formTitle Login Now                     
                table 
                    tr 
                    td Email
                    td
                      input#exampleInputEmail1.form-control(type='text', name="username", aria-describedby='emailHelp', placeholder='Enter Email')
                    tr 
                    td Password
                    td
                      input#exampleInputEmail1.form-control(type='password', name="password", placeholder='Enter Password')                                         
            
              button.btn.btn-primary.actionBtn(type='submit') Login     
                
        a(href="/" style="text-align:center").link Don't have an account? Register here

    