extends layout 

block content
 .container
  .nav.nav-pills.nav-fill 
        li.nav-item 
          a(href="workouts").nav-link Workouts
        li.nav-item
        li.nav-item
        li.nav-item 
          a(href="login").nav-link Login         
        li.nav-item 
          a(href="/").nav-link.active Register

 .pageLayout
    .card
        .form-group.col-lg-12          
         
         .col-lg-12 
            p.formTitle Register Now                   
              table                
                  tr 
                  td First Name
                  td
                    input.form-control(type='text', placeholder='Enter First Name')
                  tr 
                  td Last Name
                  td
                    inputform-control(type='text',placeholder='Enter Last Name')
                  tr 
                  td Email
                  td
                    input.form-control(type='text', aria-describedby='emailHelp', placeholder='Enter Email Address')
                  tr 
                  td Password
                  td
                    input.form-control(type='password', placeholder='Enter Password')                           
                    
            button.btn.btn-primary.actionBtn(type='submit') Register Account
          
        a(href="login" style="text-align:center").link Already have an account? Login here