extends layout

block content

    app-workout-list.workoutList Loading 

block scripts
  script(src='/build/main.0623d012b5d4d022.js')
  script(src='/build/polyfills.29b543df7c8b3c53.js')
  script(src='/build/runtime.f630a5a1053927e0.js')
  
        